@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body{
    font-family: 'Staatliches', cursive;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: 99vw;
    color: rgb(240, 230, 230);
}

main {
/* margin-right:2rem;  */ 
 min-height: 35rem ;
 min-width: 40rem; 
 padding: 2rem;
 border-radius: 24px;
 /*background: linear-gradient(145deg, #389cbe, #2f83a0);
 */box-shadow:  30px 30px 60px #215c70,
              -30px -30px 60px #47c8f4;
  
}

main header{
    display: flex;
    justify-content: space-between;
    height: 10rem;
}
main header h1{
  display: flex;  
  flex-direction: column;
  font-size: 2rem;
  line-height: 1.15;  
}
main header h2{
    font-size: 2rem;
    line-height: 0;
    margin-top: 2.5rem;
}
.hands{
    height: 12rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.hands button{
    margin-top: 1.5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    font-size: 4rem;
    cursor: pointer;
    border:1px solid rgb(6, 68, 68); 
    background-color: rgb(38, 150, 150);
    color: rgb(240, 230, 230);
    margin-bottom: 0rem;
    transition: all 0.2s ease-in;
}

.hands button:hover{
    transform: translateY(5px);
}
.hands button:hover:active {
    transform: scale(1.1);
}

.result{
  text-align: center;
  font-size: 1.5rem;
  line-height: 0.5;
}
.result .game-result p{
    font-size: 2rem;    
}

.result .scorecard{
    font-size: 1.5rem;
    
    padding: 1rem 0.5rem;
    border: 1px solid rgb(34, 113, 139);
    background-color: rgb(34, 113, 139) ;
    color: rgb(240, 230, 230);
    
    width: 20rem ;
    margin: 0rem auto;
    }
   
.game-start button{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 0.5rem;
    border: 1px solid rgb(34, 113, 139);
    background-color: rgb(34, 113, 139) ;
    color: rgb(240, 230, 230);
    letter-spacing: 0rem;
    width: 20rem ;
    margin: 2rem auto;
    cursor: pointer;
}
.game-start button:hover{
    
    transform: translateY(5px);
}

.hidden{
    display: none;
}

#user-choice{
    color: rgb(47, 139, 201);
}
/*interactive styling start*/
@media(max-width:768px){
body{
 display: block;
 width: 27.5rem;
 padding: 5rem 8rem;
 
 
}

main{
    size:inherit;
    min-width: 0;
    min-height: 20rem;
    margin-top: 0rem ;
}
main header {
    display: block;
    text-align: center;
    margin: 3rem 0;
}
.hands button{
    border-radius: 100%;
    /*padding: 1rem 1rem;
    */margin: 1rem 1rem;
    border:1px solid rgb(6, 68, 68);
    font-size: 2.5rem;
    height: 6rem;
    width: 6rem;
} 

.result .game-result{
    margin-top: 0.25rem;
}

}

@media(max-width:670px){
    body{
        background-color: #2a2a72;
        background-image:none;
        background-size:contain;
    }
    main{
        border-radius: 50px;
background: linear-gradient(145deg, #2d2d7a, #262667);
box-shadow:  32px 32px 64px #191943,
             -32px -32px 64px #3b3ba1;
    }
}

@media(max-width:565px){
    main{
        justify-content: center;
        align-content: center;
    }
}

/*interactive styling end*/
 